
			html, body { 
				margin: 0px; 
				padding: 0px;				
			}
      			.menu{
				background: url(./images/h2.jpg) no-repeat;
				background-size: 120%;
				margin: 0px;
				padding: 0px;
			}
			a {
    			font-size: 2vw;
    			font-family: Caveat-Bold; /* Гарнитура шрифта */
				color: #ffca61;
  				text-decoration: none;
  				text-indent: 20px; 
  				display: inline-block;
			}
			
			.footer{
				background: url(./images/footer.png) no-repeat;
				background-size: 120%;
				margin: 0px;
				padding: 0px;
			}
			
			img{

 				 display: block;
  				 margin-left: auto;
  				 margin-right: auto;
  				 width: 50%;
			}
      		.bottom{
				background: url(./images/wwall.png) no-repeat;
				background-size: 120%;
				margin: 0px;
				padding: 0px;
				display: block;
			}
			
			@font-face {
				font-family: Caveat-Bold; /* Гарнитура шрифта */
				src: url("./Caveat-Bold.ttf"); /* Путь к файлу со шрифтом */
			   }
			   
			.leftimg {
				float:left; /* Выравнивание по левому краю */
				margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
			   }


			#slideout {
				width: 50px;
				height: 50px;
				position: fixed;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				bottom: 100px;
				right: 50px; 
				padding: 9px;
				text-align: center;
				background: #ffcFFF;
				-webkit-transition-duration: 0.0s;
				-moz-transition-duration: 0.0s;
				-o-transition-duration: 0.0s;
				transition-duration: 0.0s;
			}
			#slideout_inner {
				position: fixed;
				bottom: 100px;
				right: -200px;
				background: rgb(1,1,1,0.1);
				width: 190px;
				height: 50px;
				padding: 5px;
				-webkit-transition-duration: 0.0s;
				-moz-transition-duration: 0.0s;
				-o-transition-duration: 0.0s;
				transition-duration: 0.0s;
				text-align: left;
				-webkit-border-radius: 25px 0 0 25px;
				-moz-border-radius: 25px 0 0 25px;
				border-radius: 25px 0 0 25px;
			}
		 
			#slideout:hover {
				right: 200px;
			}
			#slideout:hover #slideout_inner {
				right: 0;
			}
